.cours-container {
    width: 1650px;
    height: 100%;
}

.header-cours {
    display: flex;
    width: 100%;
    align-items: center;
}

.search-bar-container {
    display: flex;
    width: 80%;
}

.btn-add-cours {
    display: flex;
    width: 30%;
    justify-content: center;
}

.create-card-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: absolute;
    height: 50vh;
    margin-top: 20vh;
    padding: 5vh 5vw;
    width: 70vw;
    margin-left: 15vw;
    background-color: #555555,
}

.textfield {
    width: 40%;
}