.students-project-container {
    width: 100%;
    height: 100%;
    padding: 20px;
}

.header-students-projects {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.student-project-form {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.student-project-dropzone {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}