.register {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(to right,#8f2588,rgb(222, 5, 96));
  display: flex;
  align-items: center;
  justify-content: center;
}
.register-header {
  position: relative;
  left: -2%;
  background-color: white;
  display: flex;
  font-size: calc(10px + 2vmin);
  color: black;
  width: 70%;
  height: 80%;
  border-radius: 20px;
}
  
.container-register {
  display: flex;
  flex-direction: column;
  width: 60%;
  align-items: center;
  justify-content: center;
}

.form {
  width: 100%;
}

.select-div {
  display: flex;
  justify-content: center;
}

.input {
  border-bottom:1px solid grey;
}
.image-container {
  height: 100%;
  width: 95%;
  background-color: #7751d9;
}
.image {
  height: 100%;
  width: 105%;
  background-color: #7751d9;
  border-radius: 20px;
}
  
#reload_href{
  font-size: 15px;
    font-weight: bold;
    color: white !important;
    border: 1px solid white;
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
}
  
#canv{
  width: 100%;
  height: 60px;
}

#btn-register {
  background-color: #7751d9;
}