.form-reset-with-mail-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.box-form-reset-with-mail {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 40%;
    width: 50%;
    background: #EEEEEE;
    border-radius: 15px;

    &>.divider-form-reset-with-mail {
        box-shadow: 0px 2px 2px;
    }

    &>h1 {
        font-size: 30px;
    }
}

.box-form-reset-with-mail::before {
    content: "";
    position: absolute;
    height: 39%;
    width: 50%;
    background: linear-gradient(180deg, rgba(222, 22, 202, 0.86) 0%, rgba(179, 18, 255, 0.86) 100%);
    z-index: -1;
    filter: blur(20px);
}

.input-new-password>input::-webkit-input-placeholder {
    font-size: 2vh;
    line-height: 3%;
}

.input-new-password {
    margin-top: 5%;
    background-color: #fff;
    width: 80%;
}

.submit-btn-reset-pass {
    background-color: #fff;
    color: rgb(255, 0, 0);
}


@media all and (max-width: 813px) {

    /*Small smartphones [325px -> 425px]*/
    .box-form-reset-with-mail>h1 {
        font-size: 20px;
    }

    .box-form-reset-with-mail {
        width: 85%;
        height: 40%;
    }

    .box-form-reset-with-mail::before {

        width: 85%;

    }

}

@media all and (max-width: 600px) {

    /*Small smartphones [325px -> 425px]*/
    .submit-btn-reset-pass {
        margin-top: 200px;
    }

    .input-new-password {
        margin-top: 20px;
    }
}

@media all and (max-width: 344px) {

    .box-form-reset-with-mail>h1 {
        font-size: 17px;

    }

    .submit-btn-reset-pass {

        margin-top: 20px;

    }
}