.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;

  .root {
    display: flex;
    flex-direction: column;
    width: -webkit-fill-available;

    .nav {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-bottom: 16px;

      .pageIndicator {
        align-self: center;
      }

      .button {
        margin: 8px;
      }
    }
    .container_pdf {
      width: -webkit-fill-available;
    }

    .page {
      width: 100%;
      max-width: 100%;
      height: auto;
    }
  }
}
