.form-reset-with-mail-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.box-form-reset-with-mail {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 40%;
  width: 50%;
  background: #EEEEEE;
  border-radius: 15px;

  &>.divider-form-reset-with-mail {
    box-shadow: 0px 2px 2px;
  }
}

.box-form-reset-with-mail::before {
  content: "";
  position: absolute;
  height: 39%;
  width: 50%;
  background: linear-gradient(180deg, rgba(222, 22, 202, 0.86) 0%, rgba(179, 18, 255, 0.86) 100%);
  z-index: -1;
  filter: blur(20px);
}