.reset-password-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.forgot-password-img {
    display: flex;
    width: 80%;
}

.box-form-reset-with-mail {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 40%;
    width: 50%;
    border-radius: 15px;

    &>.divider-form-reset-with-mail {
        box-shadow: 0px 2px 2px;
    }
}

.box-form-reset-with-mail::before {
    content: "";
    position: absolute;
    height: 39%;
    width: 50%;
    z-index: -1;
    filter: blur(20px);
}