.textfield-login {
    margin: 2px;
}

.error-text-login {
    color: red;
}

.login-page {
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.textfield-box-login {
    padding: 10px;
}

.button-box-login {
    display: flex;
    justify-content: center;
}
.login{
    width: 80%;
    margin: 10%;
    border-radius: 25px;
    background-color: white;
    -webkit-box-shadow: 0px 0px 15px 0px #000; 
    box-shadow: 0px 0px 15px 0px #000;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.login-image-box{
    width: 60%;
}
.login-image{
    width: 100%;
    border-radius: 25px 0px 0px 25px;
}
.login-header{
    width: 40%;
    display: flex;
    justify-content: center;
    vertical-align: middle;
}
.container-login{
    margin-top: 20%;
    margin-bottom: 20%;
}
body{
    background: #94258C;
    background: -moz-linear-gradient(left, #94258C 50%, #E70062 100%);
    background: -webkit-linear-gradient(left, #94258C 50%, #E70062 100%);
    background: linear-gradient(to right, #94258C 50%, #E70062 100%);
}