.textfield-login {
    margin: 2px;
}

.error-text-login {
    color: red;
}

.login-page {
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.textfield-box-login {
    padding: 10px;
}

.button-box-login {
    display: flex;
    justify-content: center;
}