//$url: url(https://images.unsplash.com/photo-1544070078-a212eda27b49?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ);
$fake-b: 5%; // fake border-width
$c: rgba(#000, 0.03);
$blur: blur(12px);

.background {
  overflow: hidden;
  position: relative;
  padding-left: $fake-b;
  padding-right: $fake-b;
  height: 20vh;
  --img: var(--url) 50% / cover;
  background: var(--img) padding-box /* background-origin */ content-box /* background-clip */, linear-gradient($c, $c);
  font-size: 2em;

  &:before {
    position: absolute;
    z-index: -1; /* put it *behind* parent */
    /* zero all offsets */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: var(--img);
    /* -webkit-prefixed version
     * still needed for
     * some mobile browsers 💔😭 */
    -webkit-filter: $blur;
    filter: $blur;
    content: "";
  }
}
