.home-dashboard {
  display: flex;
  flex-direction: row-reverse;
  padding: 50px;
  flex-wrap: nowrap;
}
.news-feed {
  min-width: 400px;
  max-width: 600px;
  width: 40%;
  border-radius: 5px;
  overflow: hidden;
}

.home-dashboard-items {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;
  flex-wrap: wrap;
}

@keyframes shaky {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px) rotate(-5deg);
  }
  75% {
    transform: translateX(5px) rotate(5deg);
  }
  100% {
    transform: translateX(0) rotate(0);
  }
}

.shaky {
  animation: shaky 0.5s infinite;
}
