/* .inventory-admin-dashboard-title {
  font-family: "poppins-semibold";
  color: #000000;
  margin-bottom: 0.5em;
} */

/* .MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation1.css-1m7qhau-MuiPaper-root {
  width: 100%;
  height: 100%;
}



.inventory-admin-dashboard-box {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 1em;
  margin-bottom: 1em;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.16);
  width: 100%;
  height: 100%;
} */
