
:root {
--Background-Dark: #252525;
--Background-Light: #DEDDDD;

--Button-Background: #7D327E;

--Links-Colors: #B312FF;

--Inputs-Background-Dark: #434343;
--Inputs-Background-Light: #E3DEDE;

--Forms-Background-Dark: #151616;
--Forms-Background-Light: #FFFFFF;

--Placeholder: #444444;

--Pink-Coding: #DE16CA;

--Purple-Coding: #B312FF
}