
:root {
--Background-Dark: #252525
--Background-Light Color: #DEDDDD

--Button-Background Color: #7D327E

--Links-Colors: #B312FF 

--Inputs-Background-Dark color: #434343
--Inputs-Background-Light color: #E3DEDE

--Forms-Background-Dark color: #151616
--Forms-Background-Light color: #FFFFFF

--Placeholder color: #444444

--Pink-Coding: #DE16CA

--Purple-Coding: #B312FF
}