.jpo-page {
    width: 100%;
    height: 100%;
}

.header-jpo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.btn-history-container {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.jpo-list-container {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.jpo-image {
    width: 30%;
    height: auto;

}

.jpo-text {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 20px;
}

.jpo-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.jpo-form {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.jpo-date-container {
    width: 48%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 10px;
}