.jpo-page {
    width: 100%;
    height: 100%;
}

.header-jpo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
}

.btn-history-container {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.jpo-list-container {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.jpo-grid-container {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    flex-direction: row;
    align-items: center;
    padding: 20px;
}

.jpo-grid-image {
    width: 100% !important;
    height: auto;
}

.jpo-image-list {
    width: 50% !important;
    height: auto;
    padding: 20px;
}

.jpo-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 20px;
}

.jpo-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.jpo-form {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

p.p-start-end-date-jpo-label {
    display: flex;
    margin: 10px;
}

.jpo-date-container {
    width: 48%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 10px;
    align-items: center;
}

.btn-details-jpo-container {
    display: flex;
    justify-content: flex-end;
}

.jpo-dropzone {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 650px;
}

.img-name-project-link-jpo-page {
    width: 100%;
}

.no-votes-student-projects-p {
    padding: 20px;
}