:root {
  --fc-now-indicator-color: red;
  --fc-non-business-color: hsla(0, 0%, 84%, 0.168);
  --fc-neutral-text-color: black;
}

.fc .fc-timegrid-slot-minor {
    border-top-style: none;
}
.fc .fc-bg-event .fc-event-title {
    color: var(--fc-neutral-text-color);
    font-style: italic;
    margin: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
