.ContentProf {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.ContentInfo {
  display: flex;
  height: 60%;
}

.Timer {
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Timer span {
  font-size: 40px;
}

.DivQr {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 30%;
  margin: 10px 30px 10px 10px;
}

.Qrcode {
  display: block;
  width: 100%;
  max-width: 480px;
  max-height: 480px;
  border-radius: 5px;
  margin-bottom: 20px;
}

@import url(https://fonts.googleapis.com/css?family=Lato:400,700);

$green: #86bb71;
$blue: #94c2ed;
$orange: #e38968;
$gray: #92959e;

*,
*:before,
*:after {
  box-sizing: border-box;
}

// body {
//   background: #c5ddeb;
//   font: 14px/20px "Lato", Arial, sans-serif;
//   padding: 40px 0;
//   color: white;
// }
.avatar {
  height: 50px;
  width: 50px;
}
.container {
  margin: 0 auto;
  width: 90%;
  display: flex;
  flex-direction: row;
  background-color: #444753;
  margin-top: 40px;
  border-radius: 5px;
  height: 85vh;
}

.people-list-bis {
  width: 30%;

  .fa-search {
    position: relative;
    left: -25px;
  }

  ul {
    padding: 30px;
    height: 100%;
    margin: 0;
    overflow-y: scroll;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    li {
      width: 45%;
      margin: 5px;
      padding-bottom: 20px;
    }
  }

  img {
    float: left;
  }

  .about {
    float: left;
    margin-top: 8px;
  }

  .about {
    padding-left: 8px;
  }

  .status {
    color: $gray;
  }
}

.chat-bis {
  width: 60%;
  background: #f2f5f8;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 100%;
  color: #434651;
  .chat-header {
    padding: 20px;
    border-bottom: 2px solid white;

    img {
      float: left;
    }

    .chat-about {
      float: left;
      padding-left: 10px;
      margin-top: 6px;
    }

    .chat-with {
      font-weight: bold;
      font-size: 16px;
    }

    .chat-num-messages {
      color: $gray;
    }

    .fa-star {
      float: right;
      color: #d8dadf;
      font-size: 20px;
      margin-top: 12px;
    }
  }

  .chat-history-bis {
    padding: 20px 20px 20px;
    border-bottom: 2px solid white;
    overflow-y: scroll;
    height: 100%;
    .message-data {
      margin-bottom: 15px;
    }

    .message-data-time {
      color: lighten($gray, 8%);
      padding-left: 6px;
    }

    ul {
      list-style-type: none;
    }

    .message {
      color: white;
      padding: 18px 20px;
      line-height: 26px;
      font-size: 16px;
      border-radius: 7px;
      margin-bottom: 30px;
      width: 100%;
      position: relative;

      &:after {
        bottom: 100%;
        left: 7%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-bottom-color: $green;
        border-width: 10px;
        margin-left: -10px;
      }
    }

    .my-message {
      background: $green;
    }

    .other-message {
      background: $blue;

      &:after {
        border-bottom-color: $blue;
        left: 93%;
      }
    }
  }

  .chat-message {
    padding: 30px;

    textarea {
      width: 100%;
      border: none;
      padding: 10px 20px;
      font: 14px/22px "Lato", Arial, sans-serif;
      margin-bottom: 10px;
      border-radius: 5px;
      resize: none;
    }

    .fa-file-o,
    .fa-file-image-o {
      font-size: 16px;
      color: gray;
      cursor: pointer;
    }

    button {
      float: right;
      color: $blue;
      font-size: 16px;
      text-transform: uppercase;
      border: none;
      cursor: pointer;
      font-weight: bold;
      background: #f2f5f8;

      &:hover {
        color: darken($blue, 7%);
      }
    }
  }
}

.online,
.offline,
.me {
  margin-right: 3px;
  font-size: 10px;
}

.online {
  color: $green;
}

.offline {
  color: $orange;
}

.me {
  color: $blue;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.float-right {
  float: right;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
/* Track */
::-webkit-scrollbar-track {
  background: #444753;
}
