@import url(https://fonts.googleapis.com/css?family=Permanent+Marker);

h1 {
  font-weight: bold;
  font-size: 40px;
}

h2 {
  font-weight: bold;
  font-size: 20px;
}
.post-it {
  width: 150px;
  height: 150px;
  margin: 30px auto;
  padding: 20px;
  box-shadow: inset 0 -40px 40px rgba(0, 0, 0, 0.2),
    inset 0 25px 10px rgba(0, 0, 0, 0.2), 0 5px 6px 5px rgba(0, 0, 0, 0.2);
  font-family: "Permanent Marker", cursive;
  line-height: 1.7em;
  font-size: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  color: white;
  overflow: hidden;
  text-shadow: rgb(41, 41, 41) 1px 0 5px;
  p {
    white-space: break-spaces;
    word-wrap: break-word;
    width: 100%;
    text-align: center;
    margin: 10px;
  }
}
