.board_container_all {
  display: flex;
  align-items: flex-start;
}
.board_container_table {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 60vh;
}
.board_container_table_header {
  margin: 8px;
  border-color: rgb(235, 236, 240);
  border-style: solid;
  border-width: thin;
  background: rgb(235, 236, 240);
}

.board_container_table_header_label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}
.board_container_table_add_column {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 16px;
  border-color: transparent;
  border-style: solid;
  border-width: thin;
  background: #ffffff3d;
  min-width: 272px;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 30px;
  grid-row-gap: 50px;
  grid-column-gap: inherit;
  margin: 20px;
}
