/* TabManager.css */

.tab-manager {
  display: flex;
  flex-direction: column;
}

.tab-header {
  display: flex;
  border-bottom: 1px solid #ccc;
}

.tab {
  padding: 10px;
  cursor: pointer;
  border-right: 1px solid #ccc;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  min-width: 8%;
  max-height: 5vh;
  background-color: #3a3a3a;
  position: relative;
  float: left;
  margin: 0 8px -1px 0;
  border: 1px solid #dae0e7;
  background: #454343;
  border-radius: 8px 8px 0 0;
  white-space: nowrap;

  display: flex;
  justify-content: space-around;
}

.tab.active {
  background-color: #302f2f;
  border-bottom: none;
}

.close-tab {
  margin-left: 5%;
  border-radius: 16px;
  line-height: 16px;
  text-align: center;
  font-size: 200%;
  text-decoration: none;
  color: #181818;
}

.close-tab:hover {
  background: #383939;
}

.tab-content {
  padding: 20px;
}
