/*------------- folder box----------- */
.folder {
  width: 300px;
  height: 200px;
  margin: 50px 50px;
  float: left;
  position: relative;
  background: #ffd480;
  border-radius: 0 6px 6px 6px;
  transition: 0.1s ease-out;
  box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.59);
}
.folder_cursor{
  cursor: pointer;
}
/*-------------folder box----x------- */
.folder:hover {
  transform: scale(1.2);
}
/*-------------file opener----------- */
.folder:before {
  content: "";
  width: 46%;
  height: 21px;
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
  border-radius: 4px 0px 0 0;
  background-color: #ffd480;
  position: absolute;
  top: -10.3px;
  left: 0px;
}

.folder:after {
  content: "";
  width: 29%;
  height: 5px;
  border-radius: 2px 2px 0 0;
  background-color: #ffffff;
  position: absolute;
  top: 5.6px;
  left: 4px;
}

.folder_content {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  top: 75px;
  position: absolute;
  width: inherit;
}
.folder p {
  margin: 0%;
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-size: 35px;
  font-weight: 900;
  color: white;
}
.title_folder__ {
  font: 900 50px/1 "Source Sans Pro", Arial, sans-serif;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  letter-spacing: -3px;
  width: 100%;
  text-shadow: 0 1px 0 hsl(174, 5%, 80%), 0 2px 0 hsl(174, 5%, 75%),
    0 3px 0 hsl(174, 5%, 70%), 0 4px 0 hsl(174, 5%, 66%),
    0 5px 0 hsl(174, 5%, 64%), 0 6px 0 hsl(174, 5%, 62%),
    0 7px 0 hsl(174, 5%, 61%), 0 8px 0 hsl(174, 5%, 60%),
    0 0 5px rgba(0, 0, 0, 0.05), 0 1px 3px rgba(0, 0, 0, 0.2),
    0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.2),
    0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.3);
}
